
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&display=swap');
.app {
    display: grid;
    place-items: center; 
    height: 100vh;
    background-color: #dadbd3;
    font-family: 'Newsreader', serif;

}

.app_body{
    display: flex;
    background-color: #ededed;
    
    width: 75vw;
    height: 90vh;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}

@media only screen and (max-width: 768px) {
    .app{
        height: 200vh;
        width: 138vh;
        margin-right: auto
        
    }
    .app_body{
        display: flex;
    background-color: #ededed;
    width: 190vw;
    height: 102vh;
    box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 75%);
    }
  }