.login__container{
    display: grid;
    place-items: center;
    background-color: white;
    box-shadow: 0 1px 3px 5px rgba(0, 0, 0, 0.13);
    height: 90vh;
    width: 100vh;
    
}

.login__details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


    

.login__container img{
    object-fit: contain;
    height: 100px;
    margin-bottom: 40px;
}

.login__details h1{
    margin-bottom: 20px;
}


@media only screen and (max-width: 768px) {
    .login__container {
        height: 80vh;
        width: 80vh;
        margin-left: 5vh;
        margin-right: 5vh;
    }
    
  }